<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品管理</title>
  <link rel="shortcut icon" href="image/zhihui.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/span.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/manager_product.css') }}">
  <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
  <div id="app">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<div class="home-header">
    <!-- 全局导航(长条) -->
    <div class="site-topbar">
       <div class="container clearfix">
          <!-- 左侧导航 -->
          <div class="topbar-nav">
             <a href="{{ url_for('index') }}">swjtu电商平台</a>
             <span class="sep">|</span>
             <a href="{{ url_for('cart') }}">购物车</a>
             <span class="sep">|</span>
             <a href="{{ url_for('order') }}">我的订单</a>
             <span class="sep">|</span>
             <a href="https://www.swjtu.edu.cn">swjtu</a>
             <span class="sep">|</span>
             <a href="http://jwc.swjtu.edu.cn/index.html">swjtu教务</a>
             <span class="sep">|</span>
 
          </div>
          <!-- 右侧购物车 -->
          <div class="topbar-cart">
             <!-- 购物车按钮 -->
             <a class="cart-mini" href="{{ url_for('cart') }}">
                <em class="icon-cart"></em>
                购物车
                <span class="cart-num">（{{ user.cartcount }}）</span>
             </a>
        
          </div>
          <!-- 右侧个人信息 -->
          
          <div class="topbar-info">
             {% if user %}
             <a href="{{ url_for('cart') }}">{{user.name}}</a>
             <span class="sep">|</span>
             <a href="{{ url_for('order') }}">我的订单</a>
             <span class="sep">|</span>
             <a href="javascript:void(0);" onclick="logout()">退出登录</a>
             {% else %}
             <a href="{{ url_for('login') }}">登录</a>
             <span class="sep">|</span>
             <a href="{{ url_for('register') }}">注册</a>
             {% endif %}
          </div>
       </div>
       <div class="cart-list">
        <div class="list-head clearfix">
            <div class="col col-check">
                <input class="check-box" type="checkbox" onchange="recheck(event)"
                    onclick="selall(event.target.checked)">全选</div>
            <div class="col col-img">&nbsp;</div>
            <div class="col col-name">商品名称</div>
            <div class="col col-price">单价</div>
            <div class="col col-num">库存</div>
            <div class="col col-total">描述</div>
            <div>
                <button id="addProductButton" onclick="redirectToNewPage()">添加商品</button>
                <script>
                    function redirectToNewPage() {
                        window.location.href = "/add_item";
                    }
                </script>
            </div>
        </div>
        <div class="list-body">
          {% for merchant in merchants %}
          <div class="cart-item-warp">
            <form action="/del_merchant" method="post">
            <div class="cart-item clearfix">
              <div class="col col-check"><input class="check-box" type="checkbox"
              onchange="recheck(event)"></div>
              <div class="col col-img"><img src="{{url_for('static',filename='image/'+merchant.image)}}"height="80"
              width="80"></div>
              <div class="col col-name"><span>{{merchant.name}}</span>
            </div>
            <div class="col col-price"><span>{{merchant.price}}</span>元</div>
            <div class="col col-num"><span>{{merchant.store}}</span>件</div>
            <div class="col col-total"><span>{{merchant.desc}}</span></div>
            <div class="col col-action"><a href="javascript:void(0);" onclick="de(event,'{{merchant.iditem}}')" >×</a> 
              <script>
                function de(e, id) {
                  e = e.target;
                  var confirmDelete = confirm("确认移除吗？");
                  if (!confirmDelete) {
                    return; // 如果用户取消删除操作，则停止执行
                  }
                  var xhr = new XMLHttpRequest();
                  xhr.open('POST', '/del_merchant', true);
                  xhr.setRequestHeader('Content-Type', 'application/json');
                  xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                      // 请求成功，执行额外的操作
                      console.log('删除成功');
                    }
                  };
                  var data = JSON.stringify({id: id});
                  xhr.send(data);
                  e = e.parentNode.parentNode.parentNode;
                  e.remove();
                  resum();
                  recount();
                  recheck();

                  // 发送AJAX请求到后端
                 
                }
              </script>
           </div>
            </div>
            </form>
          </div>
          {% endfor %}
        </div>
        <!-- 其他代码... -->

   
  </div>
  
  <!-- 其他代码... -->
  
    </div>
</div>
  </div>