<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品管理</title>
  <link rel="shortcut icon" href="image/zhihui.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/span.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
  <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
  <div id="app">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<div class="home-header">
    <!-- 全局导航(长条) -->
    <div class="site-topbar">
       <div class="container clearfix">
          <!-- 左侧导航 -->
          <div class="topbar-nav">
             <a href="{{ url_for('index') }}">swjtu电商平台</a>
             <span class="sep">|</span>
             <a href="{{ url_for('cart') }}">购物车</a>
             <span class="sep">|</span>
             <a href="{{ url_for('order') }}">我的订单</a>
             <span class="sep">|</span>
             <a href="https://www.swjtu.edu.cn">swjtu</a>
             <span class="sep">|</span>
             <a href="http://jwc.swjtu.edu.cn/index.html">swjtu教务</a>
             <span class="sep">|</span>
 
          </div>
          <!-- 右侧购物车 -->
          <div class="topbar-cart">
             <!-- 购物车按钮 -->
             <a class="cart-mini" href="{{ url_for('cart') }}">
                <em class="icon-cart"></em>
                购物车
                <span class="cart-num">（{{ user.cartcount }}）</span>
             </a>
             <!-- 购物车popup -->
             <!-- <div class="cart-menu">
                <div class="menu-content">
                   <div class="loading">
                      <div class="loader"></div>
                   </div>
                   <div class="cart-list">
 
                   </div>
                   <div class="cart-total"></div>
                   <div class="msg msg-error hide"></div>
                   <div class="msg msg-empty hide">购物车里面还没有商品，赶紧选购吧！</div>
                </div>
             </div> -->
          </div>
          <!-- 右侧个人信息 -->
          
          <div class="topbar-info">
             {% if user %}
             <a href="{{ url_for('cart') }}">{{user.name}}</a>
             <span class="sep">|</span>
             <a href="{{ url_for('order') }}">我的订单</a>
             <span class="sep">|</span>
             <a href="javascript:void(0);" onclick="logout()">退出登录</a>
             {% else %}
             <a href="{{ url_for('login') }}">登录</a>
             <span class="sep">|</span>
             <a href="{{ url_for('register') }}">注册</a>
             {% endif %}
          </div>
       </div>
       <div class="cart-list">
        <div class="list-head clearfix">
            <div class="col col-check">
                <input class="check-box" type="checkbox" onchange="recheck(event)"
                    onclick="selall(event.target.checked)">全选</div>
            <div class="col col-img">&nbsp;</div>
            <div class="col col-name">商品名称</div>
            <div class="col col-price">单价</div>
            <div class="col col-num">数量</div>
            <div class="col col-total">小计</div>
            <div class="col col-action">操作</div>
        </div>
        <div class="list-body">
            {% for merchant in merchant %}
            <div class="cart-item-warp">
                <div class="cart-item clearfix">
                    <div class="col col-check"><input class="check-box" type="checkbox" 
                            onchange="recheck(event)"></div>
                    <div class="col col-img"><img src="{{ url_for('static', filename='image/'+merchant.image) }}" height="80"
                            width="80"></div>
                    <div class="col col-name">
                        <h3 class="name">{{merchant.name}}</h3> 
                    </div>
                    <div class="col col-price"><span>{{merchant.price}}</span>元</div>
                    <div class="col col-num">
                        <div class="num-box">
                            <a class="minus" href="javascript:void(0);" onclick="minus(event)">-</a>
                            <input class="num" value="{{merchant.count}}"  
                                    onchange="calc(event.target.parentNode.parentNode.parentNode)"></input>
                            <a class="plus" href="javascript:void(0);" onclick="plus(event)">+</a>
                        </div>
                    </div>
                    <div class="col col-total"><span></span>元</div>
                    <div class="col col-action"><a href="javascript:void(0);" onclick="del(event)"  data-name="{{ merchant.name }}" data-price="{{merchant.price }}" data-idorder="{{merchant.id }}">×</a> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>