<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWJTU商城</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
</head>



<body>
    <div class="app">
        <div class="product-name">
            <div class="product-nav">
                <div class="container">
                   
                    <div class="nav">
                        {% if user %}
                        <a href="{{ url_for('cart') }}">{{user.name}}</a>
                        <span class="sep">|</span>
                        <a href="{{ url_for('order') }}">我的订单</a>
                        <span class="sep">|</span>
                        <a href="#buy" onclick="buy()">立即购买</a>
                        <span class="sep">|</span>
                        <a href="#desc">商品概述</a>
                        <span class="sep">|</span>
                        <a href="#argu">商品参数</a>
                        <span class="sep">|</span>
                        <a href="javascript:void(0);" onclick="logout()">退出登录</a>
                        {% else %}
                        <a href="{{ url_for('login') }}">登录</a>
                        <span class="sep">|</span>
                        <a href="{{ url_for('register') }}">注册</a>
                        {% endif %}
                
                        
                        <!-- <span class="sep">|</span>
                        <a href="#review">商品评价</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="desc" class="detail">
            <div class="container">
                <div class="detail-img">
                    <div class="img-img">
                        {% for slide in product.slides %}
                        <div class="img-slide">
                            <img src="{{ url_for('static', filename='image/'+slide.url) }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="img-pagination">
                        {% for slide in product.slides %}
                        <span class="pagination-bullet"></span>
                        {% endfor %}
                    </div>
                    <div class="img-button-prev"></div>
                    <div class="img-button-next"></div>
                </div>
                <div class="detail-right">
                    <h2 class="detail-header">{{product.name}}</h2>
                    <p class="detail-desp">{{product.desc}}</p>
                    <div class="detail-price">
                        <span>{{product.price}}元</span>
                    </div>
                    <div class="line"></div>
                    <div class="detail-num">

                    </div>
                    <div class="detail-total">
                        <ul class="total-list">
                            {% for subitem in [product] %}
                            <li class="total-item">
                                <span class="item-name">{{subitem.name}}</span>
                                <span class="item-price">{{subitem.price}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="total-price">总计：{{product.price}}元</div>
                    </div>
                    <div class="detail-button">
                        <div class="detail-addcart"><a href="javascript:void(0);" onclick="addcart()">加入购物车</a></div>
                        <script>
                            function addcart() {
            
                                var userName = "{{ user.name }}"; // 获取用户名称
                                var productName = "{{ product.name }}"; // 获取产品名称
                                // 创建包含要发送的数据的对象
                                var data = {
                                    user_name: userName,
                                    product_name: productName
                                };

                                // 发送POST请求到后端
                                fetch('/api/addcart', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(data)
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.message === 'success') {
                                        Swal.fire({
                                            icon: 'success',
                                            title: '添加成功',
                                            showConfirmButton: false,
                                            timer: 1000 // 2秒后自动关闭弹窗
                                        }).then(() => {
                                            // 2秒后返回到manager_product.html页面
                                            window.location.href = '/templates/manager_product.html';
                                        });
                                    } else {
                                        // 添加失败，显示提示弹窗
                                        alert(data.message);
                                    }
                                })
                                .catch(error => {
                                    console.error('发生错误:', error);
                                });
                           }
                        </script>                     
                        </div>
                        <div class="detail-buynow">
                            <a href="javascript:void(0);" onclick="buy()">立即购买</a>
                            <script>
                                function analy() {
                                    fetch('/buy')
                                }
                            </script>
                            </div>
                        <div class="detail-message">
                            <a href="{{ url_for('message') }}" onclick="message()">私信商家</a></div>
                        <div class="detail-eval">
                            <a href="javascript:void(0);" onclick="eval()">评价商品</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="argu" class="product-detail">
            {% for image in product.images %}
            <div class="detail-item">
                <img src="{{ url_for('static', filename='image/'+image.url) }}" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>