.add-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.input-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 40px;
}
.preview-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}
  
.upload-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    border: 1px solid #ccc; /* 添加边框样式 */
    padding: 10px; /* 添加内边距 */
    cursor: pointer; /* 添加鼠标指针样式 */
}
.upload-container img {
    max-width: 100%;
    height: auto;

}
.hide-input {
    display: none;
  }
.sub{
    margin-top: 80px;
}
.back{
    margin-top: 20px;
}
.add-item-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-container {
    margin-bottom: 10px;
  }

  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-container input[type="number"] {
    width: calc(100% - 16px);
  }

  .input-container textarea {
    height: 80px;
  }

  .preview-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .upload-container {
    position: relative;
    width: 75px;
    height: 75px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .upload-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .sub {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sub:hover {
    background-color: #45a049;
  }
  .back {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 40px;
  }

  .back:hover {
    background-color: #45a049;
  }
